[user]
	name = Hai Guo
	email = deliberatekids@gmail.com
[color]
	ui = auto
[alias]
	dt = difftool
[diff]
	tool = myDiff
[difftool "myDiff"]
	cmd = extMerge \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[merge]
	tool = myMerge
[mergetool "myMerge"]
	cmd = extMerge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	trustExitCode = false
[commit]
	template = /home/guohai/git-commit-template
[core]
	editor = vim
